
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun';

}

body{
    background-color: rgb(108, 62, 214);
    color: rgb(56, 161, 231);
    line-height: 1.6;
}

nav{
    background-color: rgb(66, 43, 150);
    color: rgb(184, 119, 36);
    padding: 1rem 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 90px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size:18px;
}

nav a{
    color:rgba(219, 53, 3, 0.925);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color:rgb(77, 39, 216);
}

.header{
     text-align: center;
     padding: 30px;
     background-color: rgb(26, 17, 66);
}

.img-profile{
    width: 200px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 5px 5px 5px;
    border: 2px solid;
    margin-bottom: 20px;
}
section{
    max-width: 1280px;
    margin-bottom: 20px;
    font-size: 30px;
}
h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: rgb(248, 250, 250);
    width: 300px;
    border-radius: 5%;
    overflow:hidden;
    box-shadow: 0 2px 2px 2px rgb(151, 113, 241);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
}

.card h3{
    padding: 10px;
    font-size:24px;
}

.card p{
    padding: 5px;
    font-size: 16px;
}







